@model Drivin.BL.ViewModels.AboutVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Delete</h1>


<form asp-controller="About" asp-action="Delete" enctype="multipart/form-data">

	<img src="~/Files/Imgs/@Model.PhotoName" class="rounded mx-auto d-block shadow-lg " style="height:200px ; width:300px" alt="...">
	<br />
	<div class="form-group">
		<label for="Header">Header</label>
		<input class="form-control" type="text" placeholder="Enter Header" asp-for="Header" disabled>
	</div>

	<div class="form-group">
		<label for="Caption">Caption</label>
		<textarea class="form-control" asp-for="Caption" disabled></textarea>
	</div>
	<div class="form-group">
		<label for="Telephone">Telephone</label>
		<input class="form-control" value="+01" type="tel" asp-for="Phone" disabled>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group ">
				<label for="Point1" class="form-control-label">Point 1</label>
				<input type="text" class="form-control " asp-for="Point1" disabled>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group ">
				<label for="Point2" class="form-control-label">Point 2</label>
				<input type="text" class="form-control " asp-for="Point2" disabled>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group ">
				<label for="Point3" class="form-control-label">Point 3</label>
				<input type="text" class="form-control " asp-for="Point3" disabled>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group ">
				<label for="Point4" class="form-control-label">Point 4</label>
				<input type="text" class="form-control " asp-for="Point4" disabled>
			</div>
		</div>
	</div>


	<br />
	<div class="border-top">
		<div class="card-body">
			<a asp-controller="About" asp-action="Index" type="submit" class="btn btn-primary">Back To Data</a>
			<input type="submit" value="Delete" class="btn btn-danger" />
		</div>
	</div>About

</form>