@model Drivin.BL.ViewModels.AboutVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Edit</h1>

<form asp-controller="About" asp-action="Edit" enctype="multipart/form-data" method="post">

	<img src="~/Imgs/@Model.PhotoName" class="rounded mx-auto d-block shadow-lg " style="height:200px ; width:300px" alt="...">
	<br />
	<div class="form-group">
		<label  for="Header">Header</label>
		<input class="form-control" type="text" placeholder="Enter Header" asp-for="Header" >
	</div>

	<div class="form-group">
		<label for="Caption">Caption</label>
		<textarea class="form-control" asp-for="Caption" ></textarea>
	</div>
	<div class="form-group">
		<label for="Telephone">Telephone</label>
		<input class="form-control" value="+01" type="tel" asp-for="Phone" >
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group ">
				<label for="Point1" class="form-control-label">Point 1</label>
				<input type="text" class="form-control " asp-for="Point1" >
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group ">
				<label for="Point2" class="form-control-label">Point 2</label>
				<input type="text" class="form-control " asp-for="Point2" >
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group ">
				<label for="Point3" class="form-control-label">Point 3</label>
				<input type="text" class="form-control " asp-for="Point3" >
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group ">
				<label for="Point4" class="form-control-label">Point 4</label>
				<input type="text" class="form-control " asp-for="Point4" >
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="Photo">input Image</label>
		<input type="file" class="form-control-file form-control height-auto" asp-for="Photo">
	</div>


	<br />
	<input type="submit" value="Save" class="btn btn-success" />

	<br />

</form>