@model Drivin.BL.ViewModels.AppointmentVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<center>
	<h1>Edit</h1>

</center>


<form asp-controller="Appointment" asp-action="Edit" method="post">

	<br />
	<div class="form-group">
		<label for="Header">Header</label>
		<input class="form-control" type="text" placeholder="Enter Header" asp-for="Header">
	</div>

	

	<br />
	<input type="submit" value="Save" class="btn btn-success" />

	<br />

</form>