@model Drivin.BL.ViewModels.CoursesVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Delete</h1>

<form asp-controller="Courses" asp-action="Delete" enctype="multipart/form-data">

	<img src="~/Files/Imgs/@Model.PhotoName" class="rounded mx-auto d-block shadow-lg " style="height:200px ; width:300px" alt="...">
	<br />
	<div class="form-group">
		<label for="Id">Id</label>
		<input class="form-control" type="number" placeholder="Enter Header" asp-for="Id" disabled>
	</div>
	<br />
	<div class="form-group">
		<label for="Header">Header</label>
		<input class="form-control" type="text" placeholder="Enter Header" asp-for="Header" disabled>
	</div>
	<div class="form-group">
		<label for="Caption">Caption</label>
		<input class="form-control" type="text" placeholder="Enter Header" asp-for="Caption" disabled>
	</div>
	<div class="form-group">
		<label for="Price">Price</label>
		<input class="form-control" type="text" placeholder="Enter Header" asp-for="Price" disabled>
	</div>
	


	<br />
	<div class="border-top">
		<div class="card-body">
			<a asp-controller="Courses" asp-action="Index" type="submit" class="btn btn-primary">Back To Data</a>
			<input type="submit" value="Delete" class="btn btn-danger" />
		</div>
	</div>About

</form>
